@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-900 text-gray-100;
  }

  a {
    @apply text-indigo-400 hover:text-indigo-300;
  }

  input, button {
    @apply focus:outline-none;
  }
}
